
@{
    Layout = null;
}

<h3>Mvs Kamp Tablo Örneği - Kategori</h3>
<br />
<table>
    <tr>
        <tH>ID</tH>
        <tH>Adı</tH>
        <tH>Açıklama</tH>
        <tH>Durum</tH>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklma Yapıldı</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklma Yapıldı</td>
        <td>True</td>
    </tr>
</table>
